
:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --primary-grey-color: #757575;
    --advantages-gap: 30px;
    --icons-color:#AFB1B8;
}

body {
    color: var(--primary-text-color);

    font-family: 'Roboto','Times New Roman', sans-serif;
    letter-spacing: 0.03em; 
}

/* =============START css reset============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =============END css reset============= */

/* =============START components============= */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {

  padding-top: 32px;
  padding-bottom: 32px;
  
  display: flex;
  
  text-decoration: none;
  align-items: center;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


/* =============END components============= */


/* =============START header============= */

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header .container {
    display: flex;
}

.site-nav {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14; 
    list-style: none
}

.logo {
    color: var(--primary-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
   
}

.logo > span {
    color: var(--accent-color);
}


.nav-list {
    display: flex;
    margin-left: 70px;   
}

.nav-item {
    display: flex;
}

.nav-list .nav-item + .nav-item {
    margin-left: 50px;
}

.list-item {
    display: flex;
    align-items: center;

    fill: var(--primary-grey-color);
}

.list-item .link {
    color: var(--primary-grey-color);
}

.link.current {
    color: var(--accent-color);
}

.link.current::after {
    content:"";
    height: 4px;
    width: 100%;
    /* margin-top: 39px; */
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
}

.link:hover,    
.link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);

    transition-property: color, fill;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item {
    position: relative;
}

.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-list .list-item + .list-item {
    margin-left: 50px;
}

.contact-icon {
    display: flex;
    text-align: center;
    margin-right: 10px;
}


/* =============END header============= */

/* =============START main============= */
    /* =============START hero============= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
  url("../images/hero/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;
  margin: 0 auto;
    
}

.hero-title {
    color: var(--primary-white-color);
    margin-bottom: 30px;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero-position     {
    text-align: center; 
}

.hero-button {
    padding: 6px 22px;

    color: var(--primary-white-color);
    border: 0;
    border-radius: 4px;
    background-color: #188CE8;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.hero-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;

    transition-property: background-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}


/* =============END hero============= */
/* =============START advantages===== */

.advantages-list {
    display: flex;;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--advantages-gap));
    margin-left: calc(-1 * var(--advantages-gap));
}

.advantages-item {
    flex-basis: calc(100% / 4 - var(--advantages-gap));
    margin-left: var(--advantages-gap);
    margin-top: var(--advantages-gap);
}

.advantages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.advantages-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--primary-grey-color);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;    
}
/* =============END advantages===== */
/* =============START activity===== */

.activity {
    padding-top:0;
}

.section-title  {
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
}

.activity-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc( -1 * var(--advantages-gap));
    margin-left: calc( -1 * var(--advantages-gap));
}

.activity-item {
    position: relative;

    flex-basis: calc(100% / 3 - var(--advantages-gap));
    margin-left: var(--advantages-gap);
    margin-top: var(--advantages-gap);
}

.activity-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
}

.activity-text {
    color:var(--primary-white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
/* =============END activity===== */

/* =============START team===== */
.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--advantages-gap));
    margin-left: calc(-1 * var(--advantages-gap));

    font-size: 16px;
    line-height: 1.19;    
}

.team-item {
    flex-basis: calc(100% / 4 - var(--advantages-gap));
    margin-left: var(--advantages-gap);
    margin-top: var(--advantages-gap);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);

    text-align: center;
}

.person-name {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.person-position {
    font-weight: 400;
    color: var(--primary-grey-color);
}

.social-list {
    display: flex;
    justify-content: center;
    padding: 16px 0 30px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color:rgba(255, 255, 255, 0.1);    
}

.social-icon {
    fill: var(--icons-color);
}

.social-link:hover,
.social-link:focus {    
    background-color: var(--accent-color);
    border-radius: 50%;
    
    transition-property: background-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--primary-white-color);

    transition-property: fill;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:first-child) {
    margin-left: 10px;
}

/* =============END team===== */

/* =============START clients===== */

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--advantages-gap));
    margin-left: calc(-1 * var(--advantages-gap));
}

.clients-item {
    flex-basis: calc(100% / 6 - var(--advantages-gap));
    margin-top: var(--advantages-gap);
    margin-left: var(--advantages-gap);
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 92px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-icon {
    fill: var(--icons-color);
}


.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    fill: var(--accent-color);

    transition-property: fill;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);

    transition-property: fill;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============END clients===== */
/* =============END main===== */

/* =============START footer===== */
footer {
    display: flex;
    
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .container {
    display: flex;
}

.footer-left {
  flex-basis: calc((50% - 45px) / 2);
}

footer .logo {
    color: var(--primary-white-color);
}

address {

    color: var(--primary-white-color);
    margin-top: 20px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

}

address > a {
    margin-top: 9px;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

address > p {
    margin: 0px;
}

footer .social-icon {
  fill: var(--primary-white-color);
}
  
.subscription {
  flex-basis: calc(50% - 15px);

  margin-top: 10px;

  width: 570px;
  height: 96px;
}


.subscription-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscription-form-input {
  
  height: 50px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;

  /* padding-top: 15px; */
  padding-left: 16px;
  /* padding-bottom: 24px; */

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  outline: none;
}

.subscription-form-input:hover,
.subscription-form-input:focus {
  border-color: var(--accent-color);
  transition-property: border-color;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.subscription-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
  vertical-align: middle;
}


/* =============END footer===== */

/* =============BACKDROP===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 580px;
  
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition-property: transform;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right:8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: fill;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  
}

.hero-btn-close:hover,
.hero-btn-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;

}

.modal-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1.17;
  font-weight: 700;

  margin-top: 40px;
  
}

.modal-form-field  {

  margin-bottom: 12px;

  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-grey-color);
  letter-spacing: 0.01em;

}

.modal-form-field-wrapper {
  display: block;
  position: relative;
}

.checkbox-area {
 
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.7;
  
}

.modal-form-term-link {
  color:var(--accent-color);
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
} 

.form-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%,-50%);
}

.modal-form-input:focus + .form-icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition-property:border-color;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color); 
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:hover + .modal-form-icon,
.modal-form-term:focus + .modal-form-icon{
  border-color: var(--accent-color);
}

.modal-form-term:checked + .modal-form-icon {
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-btn {
  margin: 0 auto;

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;

  transition-property:background-color;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188CE8;
}
/* =============BACKDROP===== */

/* **********PAGE PORTFOLIO*********** */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
    margin-left: 8px;
}

.portfolio-list {

    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--advantages-gap));
    margin-top: calc(-1 * var(--advantages-gap));

}

.portfolio-item {
    position: relative;

    flex-basis: calc(100% / 3 - var(--advantages-gap));
    margin-left: var(--advantages-gap);
    margin-top: var(--advantages-gap);

    border: 1px solid #EEEEEE;
}


.card {
    display: inline-block;
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-actions {

    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .portfolio-actions,
.card:focus .portfolio-actions {
    transform: translateY(0);
    opacity: 1;
    
}

.portfolio-actions-text {

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary-white-color);
}

.card-content {
    padding: 20px 24px;
}

.portfolio-discription {
    margin-top: 4px;
}

.filter-button {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    background-color: #F5F4FA;;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color:var(--primary-white-color);
    cursor: pointer;
    
    transition-property: background-color, color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-discription {
    color: var(--primary-grey-color);
    
    font-size: 16px;
    line-height: 1.88;  
}

.action {
    flex-basis: calc((60% - 45px) / 2);

    margin-top: 10px;

    display: inline-block;
    width: 206px;
    height: 80px;
}

.action .social-list {
  justify-content: start;
}

.action-title, .subscription-title {

    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 20px;
}

footer .social-list {
    padding: 0;
}





 
