
.filter {
  display: flex;

  @media screen and (max-width:767px) {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 25px;
  }

  justify-content: center;
  margin-bottom: 35px;
  

  // .filter__item + .filter__item {
  //   margin-left: 8px;
  // }

  &__item {
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
      margin-right: 8px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
     &__item:nth-child(4) {
      margin-left: 0;
    }
    // &__item:nth-child(n + 4) {
    //   margin-top: 15px;
    // }
  }

  &__button {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    background-color: #F5F4FA;;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      color:var(--primary-white-color);
      cursor: pointer;
    }
  }
}

// .filter-list .filter-item + .filter-item {
//   margin-left: 8px;
// }

.portfolio {

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--advantages-gap));
  margin-top: calc(-1 * var(--advantages-gap));

  &__item {
    position: relative;

    flex-basis: calc(100% / 1 - var(--advantages-gap));
    margin-left: var(--advantages-gap);
    margin-top: var(--advantages-gap);

    border: 1px solid #EEEEEE;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - var(--advantages-gap));
    }

      @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - var(--advantages-gap));
    }
  }



  &__actions {

    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__actions-text {

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary-white-color);
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__discription {
    margin-top: 4px;
    color: var(--primary-grey-color);
    
    font-size: 16px;
    line-height: 1.88; 
  }
}



.card {

  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  &:hover .portfolio__actions,
  &:focus .portfolio__actions {
    transform: translateY(0);
    opacity: 1;
  }
  
  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__content {
    padding: 20px 24px;
  }
}

  @media screen and (max-width: 479px) {
    .portfolio__actions {
      overflow-y: scroll;
      font-size: 12px;
    }
  }
