.social {
  display: flex;
  justify-content: center;
  padding: 16px 0 30px;

  &__item:not(:first-child) {
  margin-left: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {    
      background-color: var(--accent-color);
      border-radius: 50%;
    }

    &:hover .social__icon,
    &:focus .social__icon {
      fill: var(--primary-white-color);
    }
  }

  &__icon {
    &_fill-grey {
      fill: var(--icons-color);
    }

    &_fill-white {
    fill: var(--primary-white-color);
    }
  }

  .action & {
    justify-content: start;
    padding: 0;
  }
}


