:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --primary-grey-color: #757575;
    --advantages-gap: 30px;
    --icons-color:#AFB1B8;
    --fonts: 'Roboto','Times New Roman', sans-serif;
}